/* all temporary */

.daily-container {
    margin: 0 auto;
    margin-bottom: 3px;
    max-width: 80%;
    max-height: 80%;
    width: 60%;
}

.daily-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.daily-content > img {
    float: left;
    background: transparent;
    width: 32px;
    height: 32px;
}